* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  display: flex;
  align-items: center;
  background-color: #002b7f;
  color: white;
  padding: 1em;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  justify-content: space-between;
}

.nav-link.app-name {
  font-weight: bold;
  font-size: 1.5em;
  margin-right: 20px;
  text-decoration: none;
  color: white;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 0.5em;
  margin: 0 0.5em;
  position: relative;
  transition: background 0.3s ease;
}
.nav-link:link,
.nav-link:visited,
.nav-link:hover,
.nav-link:active {
  color: white;
}
.nav-link::after {
  content: '';
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #f9a01b;
  height: 2px;
  transition: left 0.3s ease, right 0.3s ease;
}

.nav-link.active:not(.app-name)::after {
  left: 0;
  right: 0;
}

.nav-link:hover::after {
  left: 0;
  right: 0;
}
.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.logout-button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font-size: inherit;
  margin: 0 0.5em;
  padding: 0.5em;
  position: relative;
  transition: background 0.3s ease;
}

.logout-button::after {
  content: '';
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #f9a01b;
  height: 2px;
  transition: left 0.3s ease, right 0.3s ease;
}

.logout-button:hover::after {
  left: 0;
  right: 0;
}
.logout-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.nav-section.left {
  display: flex;
  align-items: center;
}
.nav-section.right {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.nav-toggle {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 1.75em;
  cursor: pointer;
  margin-left: 10px;
}
.mobile-auth-links {
  display: none;
}
.nav-section.left .nav-menu {
  display: flex;
  margin-left: 1em;
}

@media (max-width: 768px) {
  .nav-toggle {
    display: block;
  }

  .nav-section.right {
    display: none;
  }

  .nav-section.left .nav-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    flex-direction: column;
    width: 100%;
    background-color: #002b7f;
    padding: 1em 0;
  }

  .nav-section.left .nav-menu.show {
    display: flex;
  }
  .mobile-auth-links {
    display: flex;
    flex-direction: column;
  }

  .nav-section.left .nav-menu.show .nav-link,
  .nav-section.left .nav-menu.show .logout-button {
    width: 100%;
    padding: 1em 1.5em;
    text-align: left;
    position: relative;
  }

  .nav-section.left .nav-menu.show .nav-link::after,
  .nav-section.left .nav-menu.show .logout-button::after {
    display: none;
  }

  .nav-section.left .nav-menu.show .nav-link:hover,
  .nav-section.left .nav-menu.show .logout-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}
