.contacts {
    max-width: 900px;
    margin: auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
.contacts .title {
    font-size: 26px;
    color: #333;
    margin-bottom: 10px;
    font-weight: bolder;
}

.contacts .card {
    border: 1px solid #ddd;
    border-radius: 12px;
    background-color: #f9f9f9;
    padding: 18px 20px;
    margin-bottom: 15px;
    text-align: center;
}

.contacts .role {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
}

.contacts .info {
    font-size: 16px;
    font-style: italic;
}

.contacts .email {
    font-size: 18px;
    color: #007bff;
    text-decoration: none;
}

