.all-of-home:not(.register-button) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding-bottom: 30px;
}
.bubble-container {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
  margin-top: 20px;
  max-width: 1200px;
}
.bubble-container-spotify {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
  margin-top: 20px;
  max-width: 400px;
  width: 100%;
}
.stats-row {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 10px 0;
}
.stat-box {
  padding: 10px;
}
.header img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.dukeStats {
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-weight: 700;
  font-size: x-large;
  margin-top: 10px;
}
.content-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.final-home-row {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
  max-width: 400px;
  margin-top: -420px;
  height: 100%;
}
.final-home-row, .bubble-container-spotify {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.embeds-row {
  display: flex;
  align-items: stretch;
  gap: 50px;
  flex-wrap: wrap;
}
.register-button {
  background-color: #45bc49;
  border: none;
  color: white;
  padding: 20px 303px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  border-radius: 4px;
}
.register-button:hover {
  background-color: #3f9e3f;
}
@media (max-width: 768px) {
  .embeds-row {
    flex-direction: column; 
    gap: 15px; 
}
  .content-row, .embeds-row {
    flex-direction: column;
    align-items: center;
  }
  .final-home-row, .bubble-container-spotify {
    max-width: 100%;
    margin-top: 20px;
    height: auto;
  }
  .register-button {
    padding: 20px;
    width: 100%;
  }
  .bubble-container {
    margin: 10px 0;
    width: 100%;

  }
  .stats-row, .stat-box {
    flex-direction: column;
    text-align: center;
  }
}
