.policy-container {
    width: 100%; /* Full width to center the bubble within */
    text-align: center; /* Center the inner content */
    padding-top: 50px;
    padding-bottom: 50px;
}

.policy-bubble {
    display: inline-block; 
    width: 90%;
    height: 700px; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
    border-radius: 15px; 
    overflow: hidden; 
}
