.tent-summary {
    font-family: 'Roboto', sans-serif; /* Example of a more modern font */
    margin: 20px;
    color: #333; /* Opt for a darker shade for better readability */
}

.type-accordion {
    background-color: #FFF; /* Light background for the accordion */
    color: black;
    cursor: pointer;
    padding: 16px; /* Padding inside the accordion */
    width: 100%; /* Full width */
    border: 1px solid #ddd; /* Light border for definition */
    text-align: left;
    outline: none;
    font-size: 16px; /* Adjust font size as needed */
    margin-bottom: 20px; /* Space between accordions */
    border-radius: 8px; /* Rounded corners for the bubble effect */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Subtle shadow for depth */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
    text-transform: capitalize; /* Capitalize the tent type names */
}
.type-accordion:hover {
    background-color: #f8f8f8; /* Lighter background on hover */
}

.type-accordion:after {
    content: '\002B'; /* Unicode character for "+" sign */
    float: right;
}
.type-accordion.active:after {
    content: "\2212"; /* Unicode character for "-" sign */
}
.type-panel {
    padding: 0;
    background-color: white;
    transition: max-height 0.5s ease-out;
    overflow-x: auto; /* Enables horizontal scrolling */
    overflow-y: auto;
    max-height: 600px;
    width: 100%; 
}
.type-accordion .tent-type-label {
    display: inline-block;
    background-color: #e7e7e7; /* Bubble background color */
    /* color: #333; */
    padding: 4px 12px;
    border-radius: 15px; /* Rounded corners for the bubble */
    font-weight: bold;
}


.tents-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.tent-row {
    display: flex;
    border-bottom: 1px solid #e0e0e0;
    min-width: 1200px; /* Adjust this based on your total min-width of cells */}


.tent-cell {
    padding: 15px;
    flex: 1;
    border-bottom: 1px solid #e0e0e0;
    min-width: 150px; /* Adjust based on content to ensure consistent width */
}
/* Style for the top row of the table (header row) */
.tent-row.header-row {
    background-color: #f0f0f0;
    font-weight: bold;
}

.tent-row.header-row {
    position: sticky;
    top: 0;
    z-index: 1000; 
    background-color: #002b7f; /* Ensure the background color is solid */
    color: white;
    font-weight: bold;

}

/* Style for even and odd content rows */
.tent-row:not(.header-row):nth-child(even) .tent-cell {
    background-color: #fafafa;
}

.tent-row:not(.header-row):nth-child(odd) .tent-cell {
    background-color: #fff;
}

.header-cell {
    font-weight: bold;
    background-color: #002b7f;
    border-bottom: 2px solid #ccc;
    overflow: hidden;

}
.tent-type-label-black {
    background-color: #007bff; /* Replace with the color code for Black */
    color: white; /* Choose a text color that contrasts well with the background */
    display: inline-block;
    padding: 4px 12px;
    border-radius: 15px;
    font-weight: bold;
    text-decoration: none; 
}
.tent-type-label-black:hover{
    color:white; /* Darker shade on hover */
}
.tent-type-label-blue {
    background-color: #012169; /* Replace with the color code for Blue */
    color: white;
    display: inline-block;
    padding: 4px 12px;
    border-radius: 15px;
    font-weight: bold;
    text-decoration: none; 
}
.tent-type-label-blue:hover{
    color:white; 
}
.tent-type-label-dirty-blue {
    background-color: #397a7f; /* Replace with the color code for Dirty Blue */
    color: white;
    display: inline-block;
    padding: 4px 12px;
    border-radius: 15px;
    font-weight: bold;
    text-decoration: none; 
}
.tent-type-label-dirty-blue:hover{
    color:white; 
}

.tent-type-label-dirty-black {
    background-color: #56c596; /* Replace with the color code for Dirty Black */
    color: white;
    display: inline-block;
    padding: 4px 12px;
    border-radius: 15px;
    font-weight: bold;
    text-decoration: none; 
}
.tent-type-label-dirty-black:hover{
    color:white; 
}


.tent-type-label-white {
    background-color: #f7d89d; /* Replace with the color code for White */
    color: white;
    display: inline-block;
    padding: 4px 12px;
    border-radius: 15px;
    font-weight: bold;
    text-decoration: none; 
}
.tent-type-label-white:hover{
    color:white; 
}
.tent-type-label-flex {
    background-color: #f4b183; /* Replace with the color code for Flex */
    color: white;
    display: inline-block;
    padding: 4px 12px;
    border-radius: 15px;
    font-weight: bold;
    text-decoration: none; 
}
.tent-type-label-flex:hover{
    color:white; 
}
